@use "../../styles/fonts" as *;
@use "../../styles/mixins" as *;
@use "../../styles//variables" as *;
@use "../../styles/global";

.sign-in-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
