@use "../../styles/fonts" as *;
@use "../../styles/mixins" as *;
@use "../../styles//variables" as *;
@use "../../styles/global";

.expense-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18rem;
  height: 4rem;
  box-shadow: 6px 5px 8px black;
  border-radius: 8px;
}

.adventure-expense-box {
  @extend .expense-box;
  background-color: $adventure-primary;
  color: $adventure-secondary;
}

.travel-expense-box {
  @extend .expense-box;
  background-color: $travel-primary;
  color: $travel-secondary;
}

.rose-expense-box {
  @extend .expense-box;
  background-color: $rose-primary;
  color: $rose-secondary;
}

.grink-expense-box {
  @extend .expense-box;
  background-color: $grink-primary;
  color: $grink-secondary;
}

.royal-expense-box {
  @extend .expense-box;
  background-color: $royal-primary;
  color: $royal-secondary;
}

.elegant-expense-box {
  @extend .expense-box;
  background-color: $elegant-primary;
  color: $elegant-secondary;
}

.coffee-expense-box {
  @extend .expense-box;
  background-color: $coffee-primary;
  color: $coffee-secondary;
}
