@use "../../styles/fonts" as *;
@use "../../styles/mixins" as *;
@use "../../styles//variables" as *;
@use "../../styles/global";

.message__board {
  display: flex;
  flex-direction: column;
  height: 70vh;
  width: 60%;
  max-width: 1000px;
  margin: auto;
  background-color: white;
  border-radius: 36px;
  padding: 1rem;
  overflow: auto;
  overflow-anchor: none;
}

#anchor {
  overflow-anchor: auto;
  height: 1px;
}

.message-details {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
