@use "../../styles/fonts" as *;
@use "../../styles/mixins" as *;
@use "../../styles//variables" as *;
@use "../../styles/global";

.thumbnails {
  width: 30%;
  height: 3rem;
  object-fit: cover;
  margin: 1rem;
  box-shadow: 8px 5px 8px black;
  border-radius: 8px;
}

.selected-thumbnail {
  width: 80%;
  height: 6rem;
  object-fit: cover;
  box-shadow: 8px 5px 8px black;
  border-radius: 8px;
}

.add-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  max-width: 1000px;
  margin: auto;
}

.add-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.add-title {
  width: 100%;
}

.form-box {
  width: 100%;
}

.photo-list {
  margin-top: 2rem;
  padding-top: 1rem;
  width: 60%;
  height: 23rem;
  border-radius: 8px;
  margin-bottom: 2rem;
  box-shadow: 8px 5px 8px black;
}

.Navy-photo-list {
  @extend .photo-list;
  background-color: $Navy-primary;
}

.Travel-photo-list {
  @extend .photo-list;
  background-color: $Travel-primary;
}

.Rose-photo-list {
  @extend .photo-list;
  background-color: $Rose-primary;
}

.Desert-photo-list {
  @extend .photo-list;
  background-color: $Desert-primary;
}

.Royal-photo-list {
  @extend .photo-list;
  background-color: $Royal-primary;
}

.Elegant-photo-list {
  @extend .photo-list;
  background-color: $Elegant-primary;
}

.Coffee-photo-list {
  @extend .photo-list;
  background-color: $Coffee-primary;
}

.selected-photo {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  width: 40%;
  margin-bottom: 2rem;
}

.selected-photo-banner {
  width: 100%;
}

.full {
  width: 100%;
}

.search-button {
  margin-left: 1rem;
}

.user-list {
  margin-top: 2rem;
  margin-right: 2rem;
  padding-top: 1rem;
  width: 35%;
  height: 23rem;
  border-radius: 8px;
  margin-bottom: 2rem;
  box-shadow: 8px 5px 8px black;
}

.Navy-user-list {
  @extend .user-list;
  background-color: $Navy-primary;
}

.Travel-user-list {
  @extend .user-list;
  background-color: $Travel-primary;
}

.Rose-user-list {
  @extend .user-list;
  background-color: $Rose-primary;
}

.Desert-user-list {
  @extend .user-list;
  background-color: $Desert-primary;
}

.Royal-user-list {
  @extend .user-list;
  background-color: $Royal-primary;
}

.Elegant-user-list {
  @extend .user-list;
  background-color: $Elegant-primary;
}

.Coffee-user-list {
  @extend .user-list;
  background-color: $Coffee-primary;
}
