@use "../../styles/fonts" as *;
@use "../../styles/mixins" as *;
@use "../../styles//variables" as *;
@use "../../styles/global";

.add-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  max-width: 1000px;
  margin: auto;
}

.add-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.add-title {
  width: 100%;
}

.add-title__box {
  height: 3rem;
}
