@use "../../styles/fonts" as *;
@use "../../styles/mixins" as *;
@use "../../styles//variables" as *;
@use "../../styles/global";

.logo {
  width: 30px;
}

.banner-image {
  width: 100%;
  height: 25vw;
  object-fit: cover;
}

.container {
  text-align: center;
  width: 100%;
  height: 100vh;
}

.none {
  color: white;
}

.expense-list {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 0.5rem 0;
}
