@use "../../styles/fonts" as *;
@use "../../styles/mixins" as *;
@use "../../styles//variables" as *;
@use "../../styles/global";

.logo {
  width: 30px;
}

.banner-image {
  width: 100%;
  height: 40vh;
  max-height: 26rem;
  object-fit: cover;
}

.title {
  width: 100%;
  font-size: 80px;
  @include playfair-display;
  padding-bottom: 2rem;
}

.bucket-body {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: auto;
}

.bucket-links {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  gap: 2rem;
}

.none {
  color: white;
}

.expense-list {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 0.5rem 0;
}

.bucket-links__wrapper {
  width: 100%;
}

.edit-button {
  margin: auto;
  display: flex;
  width: 40rem;
  height: 4rem;
  background-color: none;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: white;
  border: 1px solid white;
  @include rajdhani-regular;
  font-size: 20px;
  box-shadow: 8px 5px 8px black;
}

.finance-button {
  margin: auto;
  display: flex;
  width: 12rem;
  height: 4rem;
  background-color: none;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: white;
  border: 1px solid white;
  @include rajdhani-regular;
  font-size: 20px;
  box-shadow: 8px 5px 8px black;
}

.finance-button__coffee {
  @extend .finance-button;
  color: $coffee-primary;
  border: 1px solid $coffee-primary;
}

.edit-button__coffee {
  @extend .edit-button;
  color: $coffee-primary;
  border: 1px solid $coffee-primary;
}

.contributor-hidden {
  display: none;
}

.app-wrapper-left {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 70%;
  min-height: 20rem;
}

.app-wrapper-right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 22rem;
  padding: 2rem;
}
.finances {
  width: 100%;
}

.bucket-list-title {
  width: 100%;
  font-size: 1.5rem;
  @include rajdhani-regular;
  color: white;
}

.bucket-list-title__coffee {
  @extend .bucket-list-title;
  color: $coffee-primary;
}
