@use "../../styles/fonts" as *;
@use "../../styles/mixins" as *;
@use "../../styles//variables" as *;
@use "../../styles/global";

.bucket-list {
  width: 100%;
  min-height: 6rem;
}

.bucket__add-button {
  margin: 0.5rem;
  border-radius: 8px;
  width: 8rem;
  height: 2rem;
  background-color: $Coffee-secondary;
  color: $Coffee-primary;
  border: 1px solid $Coffee-primary;
  box-shadow: 5px 5px 8px $Coffee-primary;
  font-size: 1.3rem;
  cursor: pointer;
}

.branded-title {
  width: 100%;
  color: $Coffee-primary;
  @include rajdhani-regular;
  margin-bottom: 1rem;
}

.no-buckets-hidden {
  display: none;
}
