@use "../../styles/fonts" as *;
@use "../../styles/mixins" as *;
@use "../../styles//variables" as *;
@use "../../styles/global";

.nav-box {
  width: 20rem;
  background-color: $coffee-secondary;
  border-radius: 8px;
  box-shadow: 8px 5px 8px black;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
  padding: 1rem;
}

.account-page {
  background: url("../../assets/home-background.svg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
