@use "../../styles/fonts" as *;
@use "../../styles/mixins" as *;
@use "../../styles//variables" as *;
@use "../../styles/global";

.account-page {
  background: url("../../assets/home-background.svg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
