@use "./fonts" as *;
@use "./mixins" as *;
@use "./variables" as *;
// global resets
html {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
}

.container {
  text-align: center;
  width: 100%;
  min-height: 100vh;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  height: 5rem;
}

.bucket-title {
  width: 100%;
  font-size: 1.5rem;
  @include rajdhani-regular;
}

.link {
  text-decoration: none;
}

.list-item {
  color: $Coffee-primary;
  @include rajdhani-bold;
  font-size: 1.2rem;
  padding: 1rem;
}

.Travel-filter {
  filter: invert(19%) sepia(18%) saturate(1287%) hue-rotate(74deg)
    brightness(98%) contrast(94%);
}

.Travel-page {
  background-color: $Travel-secondary;
  color: $Travel-primary;
}

.Navy-filter {
  filter: invert(32%) sepia(3%) saturate(6916%) hue-rotate(183deg)
    brightness(90%) contrast(91%);
}

.Navy-page {
  background-color: $Navy-secondary;
  color: $Navy-primary;
}

.Rose-filter {
  filter: invert(82%) sepia(4%) saturate(2070%) hue-rotate(316deg)
    brightness(99%) contrast(95%);
}

.Rose-page {
  background-color: $Rose-secondary;
  color: $Rose-primary;
}

.Desert-filter {
  filter: invert(72%) sepia(15%) saturate(3007%) hue-rotate(315deg)
    brightness(89%) contrast(96%);
}

.Desert-page {
  background-color: $Desert-secondary;
  color: $Desert-primary;
}

.Royal-filter {
  filter: invert(75%) sepia(69%) saturate(4086%) hue-rotate(8deg)
    brightness(102%) contrast(101%);
}
.Royal-page {
  background-color: $Royal-secondary;
  color: $Royal-primary;
}

.Elegant-filter {
  filter: invert(10%) sepia(23%) saturate(3692%) hue-rotate(193deg)
    brightness(96%) contrast(109%);
}

.Elegant-page {
  background-color: $Elegant-secondary;
  color: $Elegant-primary;
}

.Coffee-filter {
  filter: invert(23%) sepia(8%) saturate(3609%) hue-rotate(324deg)
    brightness(92%) contrast(87%);
}
.Coffee-page {
  background-color: $Coffee-secondary;
  color: $Coffee-primary;
}

.account-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.account-input {
  height: 2rem;
  border-radius: 8px;
  border: 1px solid $Coffee-primary;
  padding: 1rem;
  margin: 0.5rem 0;
}

.account-header {
  color: $Coffee-primary;
  @include rajdhani-bold;
}

.finance-list {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 0.5rem 0;
}

.finance-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18rem;
  height: 4rem;
  box-shadow: 6px 5px 8px black;
  border-radius: 8px;
}

.Navy-finance-box {
  @extend .finance-box;
  background-color: $Navy-primary;
  color: $Navy-secondary;
}

.Travel-finance-box {
  @extend .finance-box;
  background-color: $Travel-primary;
  color: $Travel-secondary;
}

.Rose-finance-box {
  @extend .finance-box;
  background-color: $Rose-primary;
  color: $Rose-secondary;
}

.Desert-finance-box {
  @extend .finance-box;
  background-color: $Desert-primary;
  color: $Desert-secondary;
}

.Royal-finance-box {
  @extend .finance-box;
  background-color: $Royal-primary;
  color: $Royal-secondary;
}

.Elegant-finance-box {
  @extend .finance-box;
  background-color: $Elegant-primary;
  color: $Elegant-secondary;
}

.Coffee-finance-box {
  @extend .finance-box;
  background-color: $Coffee-primary;
  color: $Coffee-secondary;
}

.expense-form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
  margin: auto;
  padding: 0 3rem;
}

.default-button {
  margin: 0.5rem;
  border-radius: 8px;
  width: 8rem;
  height: 2.2rem;
  border: 1px solid black;
  box-shadow: 5px 5px 8px black;
  font-size: 1.3rem;
}

.Navy-button {
  @extend .default-button;
  background-color: $Navy-secondary;
  color: $Navy-primary;
}

.Travel-button {
  @extend .default-button;
  background-color: $Travel-secondary;
  color: $Travel-primary;
}

.Coffee-button {
  @extend .default-button;
  background-color: $Coffee-secondary;
  color: $Coffee-primary;
}

.Rose-button {
  @extend .default-button;
  background-color: $Rose-secondary;
  color: $Rose-primary;
}

.Desert-button {
  @extend .default-button;
  background-color: $Desert-secondary;
  color: $Desert-primary;
}

.Royal-button {
  @extend .default-button;
  background-color: $Royal-secondary;
  color: $Royal-primary;
}

.Elegant-button {
  @extend .default-button;
  background-color: $Elegant-secondary;
  color: $Elegant-primary;
}

.Navy-button-alt {
  @extend .default-button;
  background-color: $Navy-primary;
  color: $Navy-secondary;
}

.Travel-button-alt {
  @extend .default-button;
  background-color: $Travel-primary;
  color: $Travel-secondary;
}

.Coffee-button-alt {
  @extend .default-button;
  background-color: $Coffee-primary;
  color: $Coffee-secondary;
}

.Rose-button-alt {
  @extend .default-button;
  background-color: $Rose-primary;
  color: $Rose-secondary;
}

.Desert-button-alt {
  @extend .default-button;
  background-color: $Desert-primary;
  color: $Desert-secondary;
}

.Royal-button-alt {
  @extend .default-button;
  background-color: $Royal-primary;
  color: $Royal-secondary;
}

.Elegant-button-alt {
  @extend .default-button;
  background-color: $Elegant-primary;
  color: $Elegant-secondary;
}

.button-small {
  width: 2rem;
  height: 1.2rem;
  font-size: 1rem;
  box-shadow: none;
  border: none;
}
