@use "./fonts" as *;
@use "./mixins" as *;
@use "./variables" as *;
@use "./themes" as *;

// global resets
html {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
}

// Global Styles

.full {
  width: 100%;
}

.container {
  text-align: center;
  width: 100%;
  min-height: 100vh;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  height: 5rem;
}

.bucket-title {
  width: 100%;
  font-size: 1.5rem;
  @include rajdhani-regular;
}

.link {
  text-decoration: none;
}

.list-item {
  color: $Coffee-primary;
  @include rajdhani-bold;
  font-size: 1.2rem;
  padding: 1rem;
}

.button {
  border: none;
  cursor: pointer;
}

.save-button {
  width: 3rem;
  height: 3rem;
  cursor: pointer;
}

.delete-button {
  width: 3rem;
  height: 3rem;
  cursor: pointer;
}

.account__button-wrapper {
  margin: 0.5rem;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  background-color: $Coffee-secondary;
  color: $Coffee-primary;
  border: 1px solid $Coffee-primary;
  box-shadow: 5px 5px 8px $Coffee-primary;
}

.account__button {
  width: 100%;
  height: 100%;
}

.account-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.account__input {
  height: 2rem;
  border-radius: 8px;
  border: 1px solid $Coffee-primary;
  padding: 1rem;
  margin: 0.5rem 0;
}

.account__header {
  color: $Coffee-primary;
  @include rajdhani-bold;
}

.sign-in__button {
  margin: 0.5rem;
  border-radius: 8px;
  width: 8rem;
  height: 2rem;
  background-color: $Coffee-secondary;
  color: $Coffee-primary;
  border: 1px solid $Coffee-primary;
  box-shadow: 5px 5px 8px $Coffee-primary;
  font-size: 1.3rem;
}

.logout {
  flex-direction: column;
  align-items: center;
}

.delete-account {
  margin-top: 2rem;
  cursor: pointer;
}

.logo {
  width: 30px;
}

.form__box {
  width: 100%;
}

.form__input {
  width: 16rem;
  height: 3rem;
  padding: 0.5rem;
  margin: 1rem;
  border-radius: 8px;
  border: 1px solid grey;
}

.message__input {
  width: 40%;
  max-width: 900px;
}

.nav-box {
  width: 20rem;
  background-color: $Coffee-secondary;
  border-radius: 8px;
  box-shadow: 8px 5px 8px black;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
  padding: 1rem;
}

.finance-list {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 0.5rem 0;
}

.thumbnails {
  width: 30%;
  height: 3rem;
  object-fit: cover;
  margin: 1rem;
  box-shadow: 8px 5px 8px black;
  border-radius: 8px;
}

.selected-thumbnail {
  width: 80%;
  height: 6rem;
  object-fit: cover;
  box-shadow: 8px 5px 8px black;
  border-radius: 8px;
}

.selected-photo {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  width: 40%;
  margin-bottom: 2rem;
}

.expense-form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
  margin: auto;
  padding: 0 3rem;
}
