$desktop-screen: 1280px;
$tablet-screen: 768px;
$max-width-desktop: 75rem;

$adventure-primary: #bf1717;
$adventure-secondary: #092b49;

$travel-primary: #1e3f20;
$travel-secondary: #cd9922;

$grink-primary: #edadc7;
$grink-secondary: #5c5d67;

$royal-primary: #eca400;
$royal-secondary: #001d4a;

$elegant-primary: #011638;
$elegant-secondary: #86bbbd;

$coffee-primary: #63372c;
$coffee-secondary: #f2e5d7;

$rose-primary: #f7c1bb;
$rose-secondary: #885a5a;

$desert-primary: #e07a5f;
$desert-secondary: #f2cc8f;

$navy-primary: #3c4f76;
$navy-secondary: #d1beb0;

$halloween-primary: #4b0889;
$halloween-secondary: #f7a53a;
